---
import "../styles/global.css";
import Link from "../components/Link.astro";

import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Hallo Welt!</h1>

		<Link to="/about">About us</Link>

		{
			allPosts
				.filter((post) => post.data.date.getFullYear() == 2023)
				.toSorted(
					(a, b) => -(a.data.date.getTime() - b.data.date.getTime()),
				)
				.map((post) => (
					<article>
						<h2>
							<Link to={"/blog/" + post.slug}>{post.data.title}</Link>
						</h2>
						<p>{post.data.author}</p>
					</article>
				))
		}
	</body>
</html>
